<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Book List</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<h1>Book List</h1>


<table border="1" cellspacing="0" cellpadding="12">
    <thead>
    <th>ISBN</th>
    <th>Author</th>
    <th>Title</th>
    </thead>
    <tbody id="booktable">
    </tbody>
</table>
</br>
<form id="reloadlist">
    <button type="submit">Reload</button>
</form>

<h1>Add Book</h1>

<form id="addnewbook">
    <input name="isbn" type="text">
    <input name="author" type="text">
    <input name="title" type="text">
    <button type="submit"> + </button>
</form>

<h1>Search Book</h1>

<form id="booksearch">
    <input name="input" type="text">
    <select name="select" placeholder="Title">
        <option th:value="isbn">ISBN</option>
        <option th:value="author">Author</option>
        <option th:value="title">Title</option>
    </select>
    <button type="submit">Search</button>
</form>

<h1>Search Results</h1>

<table border="1" cellspacing="0" cellpadding="12">
    <thead>
    <th>ISBN</th>
    <th>Author</th>
    <th>Title</th>
    </thead>
    <tbody id="booksearchtable"/>
</table>


<script>
    $(function () {

        $('#reloadlist').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/booklist',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function(response) {
                    $('#addResponse').text('');
                    let $books = $('#booktable');
                    $books.empty();
                    for (let book of response.books) {
                        $books.append(`<tr><td width="200" height="15">${book.isbn}</td><td width="200" height="15">${book.author}</td>\<td width="200" height="15">${book.title}</td></tr>`);
                    }
                }
            })
        });

        $('#addnewbook').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/addnewbook',
                dataType: 'json',
                data: JSON.stringify({
                    isbn: $(this).find('[name=isbn]').val(),
                    author: $(this).find('[name=author]').val(),
                    title: $(this).find('[name=title]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function(response) {
                    $('#addResponse').text('');
                    let $books = $('#booktable');
                    $books.empty();
                    for (let book of response.books) {
                        $books.append(`<tr><td width="200" height="15">${book.isbn}</td><td width="200" height="15">${book.author}</td>\<td width="200" height="15">${book.title}</td></tr>`);
                    }
                    $("#addnewbook")[0].reset();
                }
            })
        })

        $('#booksearch').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/booksearch',
                dataType: 'json',
                data: JSON.stringify({
                    whatToSearch: $(this).find('[name=input]').val(),
                    category: $(this).find('[name=select]').val(),
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    //
                    console.log($(this).find('[name=category]').val());
                    //
                    $('#addResponse').text('');
                    let $books = $('#booksearchtable');
                    $books.empty();
                    for (let book of response.books) {
                        $books.append(`<tr><td width="200" height="15">${book.isbn}</td><td width="200" height="15">${book.author}</td>\<td width="200" height="15">${book.title}</td></tr>`);
                    }
                    $("#booksearch")[0].reset();
                }
            })
        });
    })
</script>
</body>
</html>