<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Book List</title>
</head>
<body>
<h2>Book List</h2>
<table  border="1" cellspacing="0" cellpadding="12">
    <thead>
    <th>Title</th>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td width="200" height="15" th:text="${book.title}"></td>
    </tr>
    </tbody>
</table>
<br>
<form method="get" action="/redirsavebook">
    <input type="submit" value="Add"/>
</form>
</body>
</html>