<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The results of searching</title>
</head>
<body>
<h1>The results of searching</h1>
<br>
<table>
    <thead>
    <th>ISBN</th>
    <th></th>
    <th>Author</th>
    <th></th>
    <th>Title</th>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td width="200" height="15" th:text="${book.isbn}"></td>
        <th></th>
        <td width="200" height="15" th:text="${book.author}"></td>
        <th></th>
        <td width="200" height="15" th:text="${book.title}"></td>
    </tr>
    </tbody>
</table>
<br>
<form method="get" action="/">
    <button type="submit">Back</button>
</form>

</body>
</html>